<div class="container">
    <div class="col-xs-12 col-sm-8">
        <div class="ui attached message">
            <div class="header">
                Create new product
            </div>
        </div>

        <div class="ui attached segment">
            <product-form [product]="product" (submitEvent)="submit()"></product-form>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="ui attached message">
            <div class="header">
                Preview
            </div>
        </div>

        <div class="ui attached segment">
            <product-detailed [id]="product.id"
                              [image]="product.image"
                              [title]="product.title"
                              [description]="product.description"
                              [price]="product.price"></product-detailed>
        </div>
    </div>
</div>
